<div class="cqvtwb5 dir dir-ltr">
  <div data-searchbar-open="true" class="lkm6i7z l1rzxhu2 l1h6eamc dir dir-ltr">
    <div
      class="cs3bjhu dir dir-ltr"
      role="search"
      data-testid="little-search"
      aria-labelledby="littleSearchLabel"
    >
      <span class="a8jt5op dir dir-ltr" id="littleSearchLabel"
        >搜索房源和体验</span
      ><button class="f19g2zq0 dir dir-ltr" data-index="0" type="button">
        <span class="a8jt5op dir dir-ltr">城市</span>
        <div class="f1xx50dm dir dir-ltr">全球</div></button
      ><span class="dc65r8z dir dir-ltr"></span
      ><button class="f19g2zq0 dir dir-ltr" data-index="1" type="button">
        <span class="a8jt5op dir dir-ltr">入住退房日期</span>
        <div class="f1xx50dm f1rzp9sv dir dir-ltr">入住退房日期</div></button
      ><span class="dc65r8z dir dir-ltr"></span
      ><button class="f19g2zq0 dir dir-ltr" data-index="2" type="button">
        <span class="a8jt5op dir dir-ltr">关键词</span>
        <div class="f1xx50dm f1rzp9sv dir dir-ltr">关键词</div>
        <div
          class="s1qcpybl dir dir-ltr"
          data-icon="true"
          data-testid="little-search-icon"
        >
          <svg
            viewBox="0 0 32 32"
            xmlns="http://www.w3.org/2000/svg"
            style="
              display: block;
              fill: none;
              height: 12px;
              width: 12px;
              stroke: currentColor;
              stroke-width: 5.333333333333333;
              overflow: visible;
            "
            aria-hidden="true"
            role="presentation"
            focusable="false"
          >
            <g fill="none">
              <path
                d="m13 24c6.0751322 0 11-4.9248678 11-11 0-6.07513225-4.9248678-11-11-11-6.07513225 0-11 4.92486775-11 11 0 6.0751322 4.92486775 11 11 11zm8-3 9 9"
              ></path>
            </g>
          </svg>
        </div>
      </button>
    </div>
  </div>
  <div class="b3ppcw1 b1t24mo5 b1kj223i dir dir-ltr">
    <form
      class="fxxrw3g dir dir-ltr"
      action="/s/homes"
      method="get"
      role="search"
    >
      <div class="t1h6fwl6 dir dir-ltr">
        <div
          role="tablist"
          aria-owns="search-block-tab-OUTBOUND search-block-tab-EXPERIENCES"
        >
          <div class="c1l1dklw ckwz6rs c1tvb5zc dir dir-ltr">
            <button
              id="search-block-tab-OUTBOUND"
              data-testid="header-tab-search-block-tab-OUTBOUND"
              name="refinement_paths[]"
              role="tab"
              aria-selected="true"
              aria-controls="search-tabpanel"
              type="button"
              class="l1j9v1wn b13wj47r v1ri224d dir dir-ltr"
            >
              <div class="tnrruw1 t1s6zadl dir dir-ltr">
                <span class="t8kx4o2 dir dir-ltr">搜索房源</span>
              </div></button
            ><input type="hidden" name="refinement_paths[]" value="/homes" />
          </div>
          <div class="c1l1dklw ckwz6rs dir dir-ltr">
            <button
              id="search-block-tab-EXPERIENCES"
              data-testid="header-tab-search-block-tab-EXPERIENCES"
              name="refinement_paths[]"
              role="tab"
              aria-selected="false"
              aria-controls="search-tabpanel"
              type="button"
              class="l1j9v1wn b13wj47r v1ri224d dir dir-ltr"
            >
              <div class="tnrruw1 dir dir-ltr">
                <span class="t8kx4o2 dir dir-ltr">搜索体验</span>
              </div>
            </button>
          </div>
        </div>
      </div>
      <div
        aria-labelledby="search-block-tab-OUTBOUND"
        id="search-tabpanel"
        role="tabpanel"
        tabindex="0"
        class="c1lt77mq ceyij5b dir dir-ltr"
        data-panel-bounds="true"
      >
        <div class="i1wnljx3 dir dir-ltr">
          <div class="cwrjkon dir dir-ltr">
            <label
              class="isw6f99 i15r9eo1 i1kq0a0t dir dir-ltr"
              for="bigsearch-query-search-block-input-CITY-input"
              ><div class="c1u4lybr dir dir-ltr">
                <div class="i1biis7o dir dir-ltr">城市</div>
                <input
                  class="i108e0ai dir dir-ltr"
                  aria-autocomplete="none"
                  autocomplete="off"
                  autocorrect="off"
                  spellcheck="false"
                  id="bigsearch-query-search-block-input-CITY-input"
                  name="query"
                  aria-describedby="bigsearch-query-search-block-input-CITY-description"
                  placeholder="你想去哪个城市"
                  data-testid="structured-search-input-field-query"
                  value="全球"
                /></div
            ></label>
            <div class="p1pdisiw dir dir-ltr">
              <div
                class="c1nifi44 l16t0m55 dir dir-ltr"
                data-testid="structured-search-input-field-query-panel"
              >
                <section>
                  <div class="dir dir-ltr">
                    <div
                      class="kwz3sft k1d0xuh0 dir dir-ltr"
                      role="dialog"
                      aria-label="搜索建议"
                      id="bigsearch-query-search-block-input-CITY-listbox"
                      tabindex="-1"
                    >
                      <div class="k1twcb1q dir dir-ltr"></div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
            <span
              class="vcw8gqv dir dir-ltr"
              aria-atomic="true"
              aria-live="polite"
              role="status"
            ></span>
          </div>
          <span
            ><div class="p1pdisiw dir dir-ltr">
              <div class="c1nifi44 fuhmdl6 l16t0m55 dir dir-ltr">
                <section>
                  <div class="dir dir-ltr">
                    <div class="c13yu3v2 dir dir-ltr">
                      <div class="suuinlk dir dir-ltr">
                        <div class="l1mefttq dir dir-ltr">最近的搜索</div>
                        <div class="chpj2ia dir dir-ltr">
                          <div class="lqi8z7x h1ap1kig dir dir-ltr">
                            <div class="_kmf45x">
                              <button
                                aria-label="上一张"
                                type="button"
                                class="_1elq749 l1j9v1wn dir dir-ltr"
                              >
                                <span class="_3hmsj"
                                  ><div class="_11ry7lz">
                                    <svg
                                      viewBox="0 0 32 32"
                                      xmlns="http://www.w3.org/2000/svg"
                                      aria-hidden="true"
                                      role="presentation"
                                      focusable="false"
                                      style="
                                        display: block;
                                        fill: none;
                                        height: 12px;
                                        width: 12px;
                                        stroke: currentcolor;
                                        stroke-width: 5.33333;
                                        overflow: visible;
                                      "
                                    >
                                      <g fill="none">
                                        <path
                                          d="m20 28-11.29289322-11.2928932c-.39052429-.3905243-.39052429-1.0236893 0-1.4142136l11.29289322-11.2928932"
                                        ></path>
                                      </g>
                                    </svg></div
                                ></span>
                              </button>
                            </div>
                          </div>
                          <div class="i1smpcxe h27msxx dir dir-ltr">
                            <div></div>
                            <div class="i7cmv0g dir dir-ltr">
                              <button
                                class="c1kznmod dir dir-ltr"
                                type="button"
                              >
                                <span class="te1e0e dir dir-ltr"
                                  ><span class="f1bf2bii dir dir-ltr"
                                    >大阪</span
                                  ></span
                                >
                              </button>
                            </div>
                            <div></div>
                          </div>
                          <div class="rb2knqi h1ap1kig dir dir-ltr">
                            <div class="_kmf45x">
                              <button
                                aria-label="下一个"
                                type="button"
                                class="_1elq749 l1j9v1wn dir dir-ltr"
                              >
                                <span class="_3hmsj"
                                  ><div class="_11ry7lz">
                                    <svg
                                      viewBox="0 0 32 32"
                                      xmlns="http://www.w3.org/2000/svg"
                                      aria-hidden="true"
                                      role="presentation"
                                      focusable="false"
                                      style="
                                        display: block;
                                        fill: none;
                                        height: 12px;
                                        width: 12px;
                                        stroke: currentcolor;
                                        stroke-width: 5.33333;
                                        overflow: visible;
                                      "
                                    >
                                      <g fill="none">
                                        <path
                                          d="m12 4 11.2928932 11.2928932c.3905243.3905243.3905243 1.0236893 0 1.4142136l-11.2928932 11.2928932"
                                        ></path>
                                      </g>
                                    </svg></div
                                ></span>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="suuinlk dir dir-ltr">
                        <div class="l1mefttq dir dir-ltr">热门目的地</div>
                        <div class="i1gymeds dir dir-ltr">
                          <button class="c1kznmod dir dir-ltr" type="button">
                            <span class="te1e0e dir dir-ltr"
                              ><span class="i13ww68d dir dir-ltr"
                                >大阪</span
                              ></span
                            >
                          </button>
                        </div>
                        <div class="i1gymeds dir dir-ltr">
                          <button class="c1kznmod dir dir-ltr" type="button">
                            <span class="te1e0e dir dir-ltr"
                              ><span class="i13ww68d dir dir-ltr"
                                >曼谷</span
                              ></span
                            >
                          </button>
                        </div>
                        <div class="i1gymeds dir dir-ltr">
                          <button class="c1kznmod dir dir-ltr" type="button">
                            <span class="te1e0e dir dir-ltr"
                              ><span class="i13ww68d dir dir-ltr"
                                >东京</span
                              ></span
                            >
                          </button>
                        </div>
                        <div class="i1gymeds dir dir-ltr">
                          <button class="c1kznmod dir dir-ltr" type="button">
                            <span class="te1e0e dir dir-ltr"
                              ><span class="i13ww68d dir dir-ltr"
                                >京都</span
                              ></span
                            >
                          </button>
                        </div>
                        <div class="i1gymeds dir dir-ltr">
                          <button class="c1kznmod dir dir-ltr" type="button">
                            <span class="te1e0e dir dir-ltr"
                              ><span class="i13ww68d dir dir-ltr"
                                >首尔</span
                              ></span
                            >
                          </button>
                        </div>
                        <div class="i1gymeds dir dir-ltr">
                          <button class="c1kznmod dir dir-ltr" type="button">
                            <span class="te1e0e dir dir-ltr"
                              ><span class="i13ww68d dir dir-ltr"
                                >台北市</span
                              ></span
                            >
                          </button>
                        </div>
                        <div class="i1gymeds dir dir-ltr">
                          <button class="c1kznmod dir dir-ltr" type="button">
                            <span class="te1e0e dir dir-ltr"
                              ><span class="i13ww68d dir dir-ltr"
                                >清迈</span
                              ></span
                            >
                          </button>
                        </div>
                        <div class="i1gymeds dir dir-ltr">
                          <button class="c1kznmod dir dir-ltr" type="button">
                            <span class="te1e0e dir dir-ltr"
                              ><span class="i13ww68d dir dir-ltr"
                                >香港</span
                              ></span
                            >
                          </button>
                        </div>
                        <div class="i1gymeds dir dir-ltr">
                          <button class="c1kznmod dir dir-ltr" type="button">
                            <span class="te1e0e dir dir-ltr"
                              ><span class="i13ww68d dir dir-ltr"
                                >普吉岛</span
                              ></span
                            >
                          </button>
                        </div>
                        <div class="i1gymeds dir dir-ltr">
                          <button class="c1kznmod dir dir-ltr" type="button">
                            <span class="te1e0e dir dir-ltr"
                              ><span class="i13ww68d dir dir-ltr"
                                >伦敦</span
                              ></span
                            >
                          </button>
                        </div>
                        <div class="i1gymeds dir dir-ltr">
                          <button class="c1kznmod dir dir-ltr" type="button">
                            <span class="te1e0e dir dir-ltr"
                              ><span class="i13ww68d dir dir-ltr"
                                >吉隆坡</span
                              ></span
                            >
                          </button>
                        </div>
                        <div class="i1gymeds dir dir-ltr">
                          <button class="c1kznmod dir dir-ltr" type="button">
                            <span class="te1e0e dir dir-ltr"
                              ><span class="i13ww68d dir dir-ltr"
                                >芭堤雅</span
                              ></span
                            >
                          </button>
                        </div>
                        <div class="i1gymeds dir dir-ltr">
                          <button class="c1kznmod dir dir-ltr" type="button">
                            <span class="te1e0e dir dir-ltr"
                              ><span class="i13ww68d dir dir-ltr"
                                >洛杉矶</span
                              ></span
                            >
                          </button>
                        </div>
                        <div class="i1gymeds dir dir-ltr">
                          <button class="c1kznmod dir dir-ltr" type="button">
                            <span class="te1e0e dir dir-ltr"
                              ><span class="i13ww68d dir dir-ltr"
                                >亚庇</span
                              ></span
                            >
                          </button>
                        </div>
                        <div class="i1gymeds dir dir-ltr">
                          <button class="c1kznmod dir dir-ltr" type="button">
                            <span class="te1e0e dir dir-ltr"
                              ><span class="i13ww68d dir dir-ltr"
                                >巴黎</span
                              ></span
                            >
                          </button>
                        </div>
                        <div class="i1gymeds dir dir-ltr">
                          <button class="c1kznmod dir dir-ltr" type="button">
                            <span class="te1e0e dir dir-ltr"
                              ><span class="i13ww68d dir dir-ltr"
                                >墨尔本</span
                              ></span
                            >
                          </button>
                        </div>
                        <div class="i1gymeds dir dir-ltr">
                          <button class="c1kznmod dir dir-ltr" type="button">
                            <span class="te1e0e dir dir-ltr"
                              ><span class="i13ww68d dir dir-ltr"
                                >悉尼</span
                              ></span
                            >
                          </button>
                        </div>
                        <div class="i1gymeds dir dir-ltr">
                          <button class="c1kznmod dir dir-ltr" type="button">
                            <span class="te1e0e dir dir-ltr"
                              ><span class="i13ww68d dir dir-ltr"
                                >济州市</span
                              ></span
                            >
                          </button>
                        </div>
                        <div class="i1gymeds dir dir-ltr">
                          <button class="c1kznmod dir dir-ltr" type="button">
                            <span class="te1e0e dir dir-ltr"
                              ><span class="i13ww68d dir dir-ltr"
                                >花莲</span
                              ></span
                            >
                          </button>
                        </div>
                        <div class="i1gymeds dir dir-ltr">
                          <button class="c1kznmod dir dir-ltr" type="button">
                            <span class="te1e0e dir dir-ltr"
                              ><span class="i13ww68d dir dir-ltr"
                                >巴厘岛</span
                              ></span
                            >
                          </button>
                        </div>
                        <div class="i1gymeds dir dir-ltr">
                          <button class="c1kznmod dir dir-ltr" type="button">
                            <span class="te1e0e dir dir-ltr"
                              ><span class="i13ww68d dir dir-ltr"
                                >罗马</span
                              ></span
                            >
                          </button>
                        </div>
                        <div class="i1gymeds dir dir-ltr">
                          <button class="c1kznmod dir dir-ltr" type="button">
                            <span class="te1e0e dir dir-ltr"
                              ><span class="i13ww68d dir dir-ltr"
                                >札幌</span
                              ></span
                            >
                          </button>
                        </div>
                        <div class="i1gymeds dir dir-ltr">
                          <button class="c1kznmod dir dir-ltr" type="button">
                            <span class="te1e0e dir dir-ltr"
                              ><span class="i13ww68d dir dir-ltr"
                                >纽约</span
                              ></span
                            >
                          </button>
                        </div>
                        <div class="i1gymeds dir dir-ltr">
                          <button class="c1kznmod dir dir-ltr" type="button">
                            <span class="te1e0e dir dir-ltr"
                              ><span class="i13ww68d dir dir-ltr"
                                >胡志明市</span
                              ></span
                            >
                          </button>
                        </div>
                        <div class="i1gymeds dir dir-ltr">
                          <button class="c1kznmod dir dir-ltr" type="button">
                            <span class="te1e0e dir dir-ltr"
                              ><span class="i13ww68d dir dir-ltr"
                                >新加坡</span
                              ></span
                            >
                          </button>
                        </div>
                      </div>
                      <div class="suuinlk dir dir-ltr">
                        <div class="l1mefttq dir dir-ltr">
                          全球热门区域<span class="n1serfye dir dir-ltr"></span>
                        </div>
                        <div class="i1gymeds dir dir-ltr">
                          <button class="c1kznmod dir dir-ltr" type="button">
                            <span class="te1e0e dir dir-ltr"
                              ><span class="i13ww68d dir dir-ltr"
                                >全球</span
                              ></span
                            >
                          </button>
                        </div>
                        <div class="i1gymeds dir dir-ltr">
                          <button class="c1kznmod dir dir-ltr" type="button">
                            <span class="te1e0e dir dir-ltr"
                              ><span class="i13ww68d dir dir-ltr"
                                >美国</span
                              ></span
                            >
                          </button>
                        </div>
                        <div class="i1gymeds dir dir-ltr">
                          <button class="c1kznmod dir dir-ltr" type="button">
                            <span class="te1e0e dir dir-ltr"
                              ><span class="i13ww68d dir dir-ltr"
                                >英国</span
                              ></span
                            >
                          </button>
                        </div>
                        <div class="i1gymeds dir dir-ltr">
                          <button class="c1kznmod dir dir-ltr" type="button">
                            <span class="te1e0e dir dir-ltr"
                              ><span class="i13ww68d dir dir-ltr"
                                >东南亚</span
                              ></span
                            >
                          </button>
                        </div>
                        <div class="i1gymeds dir dir-ltr">
                          <button class="c1kznmod dir dir-ltr" type="button">
                            <span class="te1e0e dir dir-ltr"
                              ><span class="i13ww68d dir dir-ltr"
                                >泰国</span
                              ></span
                            >
                          </button>
                        </div>
                        <div class="i1gymeds dir dir-ltr">
                          <button class="c1kznmod dir dir-ltr" type="button">
                            <span class="te1e0e dir dir-ltr"
                              ><span class="i13ww68d dir dir-ltr"
                                >澳大利亚</span
                              ></span
                            >
                          </button>
                        </div>
                        <div class="i1gymeds dir dir-ltr">
                          <button class="c1kznmod dir dir-ltr" type="button">
                            <span class="te1e0e dir dir-ltr"
                              ><span class="i13ww68d dir dir-ltr"
                                >加拿大</span
                              ></span
                            >
                          </button>
                        </div>
                        <div class="i1gymeds dir dir-ltr">
                          <button class="c1kznmod dir dir-ltr" type="button">
                            <span class="te1e0e dir dir-ltr"
                              ><span class="i13ww68d dir dir-ltr"
                                >南美洲</span
                              ></span
                            >
                          </button>
                        </div>
                        <div class="i1gymeds dir dir-ltr">
                          <button class="c1kznmod dir dir-ltr" type="button">
                            <span class="te1e0e dir dir-ltr"
                              ><span class="i13ww68d dir dir-ltr"
                                >法国</span
                              ></span
                            >
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div></span
          >
          <div class="sv3mkdx dir dir-ltr"></div>
          <div class="c6ezw63 dir dir-ltr">
            <div class="c2frgdd dir dir-ltr">
              <div
                class="b192dx2b b174x59c dir dir-ltr"
                role="button"
                tabindex="0"
                aria-expanded="false"
              >
                <div class="c11if3v5 dir dir-ltr">
                  <div class="l1vto4to dir dir-ltr">入住退房日期</div>
                  <div class="p1kudodg dir dir-ltr">请在日历中选择</div>
                </div>
              </div>
            </div>
            <div><div></div></div>
          </div>
          <div class="sv3mkdx dir dir-ltr"></div>
          <div class="cwrjkon dir dir-ltr">
            <label
              class="isw6f99 i15r8677 i19qlc1y dir dir-ltr"
              for="bigsearch-query-search-block-input-KEYWORD-input"
              ><div class="c1u4lybr dir dir-ltr">
                <div class="i1biis7o dir dir-ltr">关键词</div>
                <input
                  class="i108e0ai dir dir-ltr"
                  aria-autocomplete="none"
                  autocomplete="off"
                  autocorrect="off"
                  spellcheck="false"
                  id="bigsearch-query-search-block-input-KEYWORD-input"
                  name="query"
                  aria-describedby="bigsearch-query-search-block-input-KEYWORD-description"
                  placeholder="景点/地址/房源名"
                  data-testid="structured-search-input-field-query"
                  value=""
                /></div
            ></label>
            <div class="p1pdisiw dir dir-ltr">
              <div
                class="c1nifi44 l16t0m55 dir dir-ltr"
                data-testid="structured-search-input-field-query-panel"
              >
                <section>
                  <div class="dir dir-ltr">
                    <div
                      class="kwz3sft k1d0xuh0 dir dir-ltr"
                      role="dialog"
                      aria-label="搜索建议"
                      id="bigsearch-query-search-block-input-KEYWORD-listbox"
                      tabindex="-1"
                    >
                      <div class="k1twcb1q dir dir-ltr"></div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
            <span
              class="vcw8gqv dir dir-ltr"
              aria-atomic="true"
              aria-live="polite"
              role="status"
            ></span>
            <div class="sotr6ha dir dir-ltr">
              <button class="b134py57 b14gupvm dir dir-ltr" type="button">
                <span class="tb9bci3 dir dir-ltr"
                  ><span
                    class="t1l18xbv dir dir-ltr"
                    style="
                      background-position: calc((100 - var(--mouse-x, 0)) * 1%)
                        calc((100 - var(--mouse-y, 0)) * 1%);
                    "
                  ></span></span
                ><span class="c1ng71ne dir dir-ltr"
                  ><div class="c8th90 dir dir-ltr">
                    <div class="dir dir-ltr">
                      <svg
                        viewBox="0 0 32 32"
                        xmlns="http://www.w3.org/2000/svg"
                        aria-hidden="true"
                        role="presentation"
                        focusable="false"
                        style="
                          display: block;
                          fill: none;
                          height: 16px;
                          width: 16px;
                          stroke: currentcolor;
                          stroke-width: 4;
                          overflow: visible;
                        "
                      >
                        <g fill="none">
                          <path
                            d="m13 24c6.0751322 0 11-4.9248678 11-11 0-6.07513225-4.9248678-11-11-11-6.07513225 0-11 4.92486775-11 11 0 6.0751322 4.92486775 11 11 11zm8-3 9 9"
                          ></path>
                        </g>
                      </svg>
                    </div>
                    <div class="l1huikbk l123k1u5 dir dir-ltr">搜索</div>
                  </div></span
                >
              </button>
            </div>
          </div>
          <span
            ><div class="p1pdisiw p1kvt8ht dir dir-ltr">
              <div class="c1nifi44 fuhmdl6 l16t0m55 dir dir-ltr">
                <section>
                  <div class="dir dir-ltr">
                    <div class="c100syd5 dir dir-ltr">
                      <section class="sk0l5m9 dir dir-ltr">
                        <header class="h1m324sf dir dir-ltr">
                          <div class="l1l5ggw6 dir dir-ltr">最近的搜索</div>
                        </header>
                        <div class="chpj2ia dir dir-ltr">
                          <div class="lqi8z7x h1ap1kig dir dir-ltr">
                            <div class="_kmf45x">
                              <button
                                aria-label="上一张"
                                type="button"
                                class="_1elq749 l1j9v1wn dir dir-ltr"
                              >
                                <span class="_3hmsj"
                                  ><div class="_11ry7lz">
                                    <svg
                                      viewBox="0 0 32 32"
                                      xmlns="http://www.w3.org/2000/svg"
                                      aria-hidden="true"
                                      role="presentation"
                                      focusable="false"
                                      style="
                                        display: block;
                                        fill: none;
                                        height: 12px;
                                        width: 12px;
                                        stroke: currentcolor;
                                        stroke-width: 5.33333;
                                        overflow: visible;
                                      "
                                    >
                                      <g fill="none">
                                        <path
                                          d="m20 28-11.29289322-11.2928932c-.39052429-.3905243-.39052429-1.0236893 0-1.4142136l11.29289322-11.2928932"
                                        ></path>
                                      </g>
                                    </svg></div
                                ></span>
                              </button>
                            </div>
                          </div>
                          <div class="i1smpcxe h27msxx dir dir-ltr">
                            <div></div>
                            <div class="i7cmv0g dir dir-ltr">
                              <button
                                class="c1kznmod dir dir-ltr"
                                type="button"
                              >
                                <span class="te1e0e dir dir-ltr"
                                  ><span class="f1bf2bii dir dir-ltr"
                                    >大阪</span
                                  ></span
                                >
                              </button>
                            </div>
                            <div></div>
                          </div>
                          <div class="rb2knqi h1ap1kig dir dir-ltr">
                            <div class="_kmf45x">
                              <button
                                aria-label="下一个"
                                type="button"
                                class="_1elq749 l1j9v1wn dir dir-ltr"
                              >
                                <span class="_3hmsj"
                                  ><div class="_11ry7lz">
                                    <svg
                                      viewBox="0 0 32 32"
                                      xmlns="http://www.w3.org/2000/svg"
                                      aria-hidden="true"
                                      role="presentation"
                                      focusable="false"
                                      style="
                                        display: block;
                                        fill: none;
                                        height: 12px;
                                        width: 12px;
                                        stroke: currentcolor;
                                        stroke-width: 5.33333;
                                        overflow: visible;
                                      "
                                    >
                                      <g fill="none">
                                        <path
                                          d="m12 4 11.2928932 11.2928932c.3905243.3905243.3905243 1.0236893 0 1.4142136l-11.2928932 11.2928932"
                                        ></path>
                                      </g>
                                    </svg></div
                                ></span>
                              </button>
                            </div>
                          </div>
                        </div>
                      </section>
                      <section class="sk0l5m9 dir dir-ltr">
                        <header class="h1m324sf dir dir-ltr">
                          <img
                            class="idn60a5 dir dir-ltr"
                            src="https://z1.muscache.cn/pictures/carson/carson-1663234384100-9ee8a1cc/original/3403bb7e-0d7c-486c-b9bf-3c9a5f21d4a8.png"
                            alt="特色"
                          />
                          <div class="hk7obc8 dir dir-ltr">
                            <div class="l1l5ggw6 dir dir-ltr">特色</div>
                          </div>
                        </header>
                        <div class="iqb9e0o dir dir-ltr">
                          <button class="c1kznmod dir dir-ltr" type="button">
                            <span class="te1e0e dir dir-ltr"
                              ><span class="i19p6spz dir dir-ltr"
                                ><img
                                  alt=""
                                  class="ip9sapq dir dir-ltr"
                                  src="https://a0.muscache.com/pictures/c5a4f6fc-c92c-4ae8-87dd-57f1ff1b89a6.jpg"
                                /><span class="i1u6o2ke dir dir-ltr"
                                  >OMG 妙啊</span
                                ></span
                              ></span
                            >
                          </button>
                        </div>
                        <div class="iqb9e0o dir dir-ltr">
                          <button class="c1kznmod dir dir-ltr" type="button">
                            <span class="te1e0e dir dir-ltr"
                              ><span class="i19p6spz dir dir-ltr"
                                ><img
                                  alt=""
                                  class="ip9sapq dir dir-ltr"
                                  src="https://a0.muscache.com/pictures/1b6a8b70-a3b6-48b5-88e1-2243d9172c06.jpg"
                                /><span class="i1u6o2ke dir dir-ltr"
                                  >城堡</span
                                ></span
                              ></span
                            >
                          </button>
                        </div>
                        <div class="iqb9e0o dir dir-ltr">
                          <button class="c1kznmod dir dir-ltr" type="button">
                            <span class="te1e0e dir dir-ltr"
                              ><span class="i19p6spz dir dir-ltr"
                                ><img
                                  alt=""
                                  class="ip9sapq dir dir-ltr"
                                  src="https://a0.muscache.com/pictures/4d4a4eba-c7e4-43eb-9ce2-95e1d200d10e.jpg"
                                /><span class="i1u6o2ke dir dir-ltr"
                                  >树屋</span
                                ></span
                              ></span
                            >
                          </button>
                        </div>
                        <div class="iqb9e0o dir dir-ltr">
                          <button class="c1kznmod dir dir-ltr" type="button">
                            <span class="te1e0e dir dir-ltr"
                              ><span class="i19p6spz dir dir-ltr"
                                ><img
                                  alt=""
                                  class="ip9sapq dir dir-ltr"
                                  src="https://a0.muscache.com/pictures/8b44f770-7156-4c7b-b4d3-d92549c8652f.jpg"
                                /><span class="i1u6o2ke dir dir-ltr"
                                  >北极风光</span
                                ></span
                              ></span
                            >
                          </button>
                        </div>
                        <div class="iqb9e0o dir dir-ltr">
                          <button class="c1kznmod dir dir-ltr" type="button">
                            <span class="te1e0e dir dir-ltr"
                              ><span class="i19p6spz dir dir-ltr"
                                ><img
                                  alt=""
                                  class="ip9sapq dir dir-ltr"
                                  src="https://a0.muscache.com/pictures/50861fca-582c-4bcc-89d3-857fb7ca6528.jpg"
                                /><span class="i1u6o2ke dir dir-ltr"
                                  >大师设计</span
                                ></span
                              ></span
                            >
                          </button>
                        </div>
                        <div class="iqb9e0o dir dir-ltr">
                          <button class="c1kznmod dir dir-ltr" type="button">
                            <span class="te1e0e dir dir-ltr"
                              ><span class="i19p6spz dir dir-ltr"
                                ><img
                                  alt=""
                                  class="ip9sapq dir dir-ltr"
                                  src="https://a0.muscache.com/pictures/5cdb8451-8f75-4c5f-a17d-33ee228e3db8.jpg"
                                /><span class="i1u6o2ke dir dir-ltr"
                                  >风车小屋</span
                                ></span
                              ></span
                            >
                          </button>
                        </div>
                        <div class="iqb9e0o dir dir-ltr">
                          <button class="c1kznmod dir dir-ltr" type="button">
                            <span class="te1e0e dir dir-ltr"
                              ><span class="i19p6spz dir dir-ltr"
                                ><img
                                  alt=""
                                  class="ip9sapq dir dir-ltr"
                                  src="https://a0.muscache.com/pictures/51f5cf64-5821-400c-8033-8a10c7787d69.jpg"
                                /><span class="i1u6o2ke dir dir-ltr"
                                  >传统韩屋</span
                                ></span
                              ></span
                            >
                          </button>
                        </div>
                        <div class="iqb9e0o dir dir-ltr">
                          <button class="c1kznmod dir dir-ltr" type="button">
                            <span class="te1e0e dir dir-ltr"
                              ><span class="i19p6spz dir dir-ltr"
                                ><img
                                  alt=""
                                  class="ip9sapq dir dir-ltr"
                                  src="https://a0.muscache.com/pictures/c027ff1a-b89c-4331-ae04-f8dee1cdc287.jpg"
                                /><span class="i1u6o2ke dir dir-ltr"
                                  >船屋</span
                                ></span
                              ></span
                            >
                          </button>
                        </div>
                        <div class="iqb9e0o dir dir-ltr">
                          <button class="c1kznmod dir dir-ltr" type="button">
                            <span class="te1e0e dir dir-ltr"
                              ><span class="i19p6spz dir dir-ltr"
                                ><img
                                  alt=""
                                  class="ip9sapq dir dir-ltr"
                                  src="https://a0.muscache.com/pictures/d7445031-62c4-46d0-91c3-4f29f9790f7a.jpg"
                                /><span class="i1u6o2ke dir dir-ltr"
                                  >生态土屋</span
                                ></span
                              ></span
                            >
                          </button>
                        </div>
                        <div class="iqb9e0o dir dir-ltr">
                          <button class="c1kznmod dir dir-ltr" type="button">
                            <span class="te1e0e dir dir-ltr"
                              ><span class="i19p6spz dir dir-ltr"
                                ><img
                                  alt=""
                                  class="ip9sapq dir dir-ltr"
                                  src="https://a0.muscache.com/pictures/7ff6e4a1-51b4-4671-bc9a-6f523f196c61.jpg"
                                /><span class="i1u6o2ke dir dir-ltr"
                                  >摩洛哥传统庭院</span
                                ></span
                              ></span
                            >
                          </button>
                        </div>
                        <div class="iqb9e0o dir dir-ltr">
                          <button class="c1kznmod dir dir-ltr" type="button">
                            <span class="te1e0e dir dir-ltr"
                              ><span class="i19p6spz dir dir-ltr"
                                ><img
                                  alt=""
                                  class="ip9sapq dir dir-ltr"
                                  src="https://a0.muscache.com/pictures/9a2ca4df-ee90-4063-b15d-0de7e4ce210a.jpg"
                                /><span class="i1u6o2ke dir dir-ltr"
                                  >原生态</span
                                ></span
                              ></span
                            >
                          </button>
                        </div>
                        <div class="iqb9e0o dir dir-ltr">
                          <button class="c1kznmod dir dir-ltr" type="button">
                            <span class="te1e0e dir dir-ltr"
                              ><span class="i19p6spz dir dir-ltr"
                                ><img
                                  alt=""
                                  class="ip9sapq dir dir-ltr"
                                  src="https://a0.muscache.com/pictures/31c1d523-cc46-45b3-957a-da76c30c85f9.jpg"
                                /><span class="i1u6o2ke dir dir-ltr"
                                  >房车</span
                                ></span
                              ></span
                            >
                          </button>
                        </div>
                      </section>
                    </div>
                  </div>
                </section>
              </div>
            </div></span
          >
        </div>
      </div>
    </form>
  </div>
</div>
